# Data Staging: ETL process

## Extracting Compiled_COVID-19_Case_Details_(Canada) dataset

In [1]:
# Check that you've got all the libraries installed on your desktop first befor running the program
import pandas as pd
import dask.dataframe as dd
import numpy as np

In [2]:
df = pd.read_csv('Compiled_COVID-19_Case_Details_(Canada).csv')

In [3]:
df

,ObjectId,row_id,date_reported,health_region,age_group,gender,exposure,case_status,latitude,longitude,province,province_abbr,hr_uid
0,1,500,2020/03/23 12:00:00+00,Peel Public Health,20-29,Female,Close Contact,Recovered,43.761613,-79.813571,Ontario,ON,3553.0
1,2,501,2020/04/02 12:00:00+00,Peel Public Health,40-49,Female,Close Contact,Recovered,43.761613,-79.813571,Ontario,ON,3553.0
2,3,502,2020/03/25 12:00:00+00,"Kingston, Frontenac and Lennox & Addington Pub...",30-39,Male,Close Contact,Recovered,44.676754,-76.884254,Ontario,ON,3541.0
3,4,503,2020/03/28 12:00:00+00,"Kingston, Frontenac and Lennox & Addington Pub...",<20,Female,Close Contact,Recovered,44.676754,-76.884254,Ontario,ON,3541.0
4,5,504,2020/03/30 12:00:00+00,Peel Public Health,50-59,Male,Close Contact,Recovered,43.761613,-79.813571,Ontario,ON,3553.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384876,1384877,1384283,2020/11/25 12:00:00+00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0
1384877,1384878,1384284,2020/11/25 12:00:00+00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0
1384878,1384879,1384285,2020/11/25 12:00:00+00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0
1384879,1384880,1384286,2020/11/25 12:00:00+00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0
1384880,1384881,1384287,2020/11/25 12:00:00+00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0

In [4]:
total_pop_dataset = df['row_id'].sum()

In [5]:
print(df.dtypes)

ObjectId           int64
row_id             int64
date_reported     object
health_region     object
age_group         object
gender            object
exposure          object
case_status       object
latitude         float64
longitude        float64
province          object
province_abbr     object
hr_uid           float64
dtype: object

In [6]:
# convertinf sate_reported column into datetime like values for panda

df['date_reported'] = pd.to_datetime(df['date_reported'])
df

,ObjectId,row_id,date_reported,health_region,age_group,gender,exposure,case_status,latitude,longitude,province,province_abbr,hr_uid
0,1,500,2020-03-23 12:00:00+00:00,Peel Public Health,20-29,Female,Close Contact,Recovered,43.761613,-79.813571,Ontario,ON,3553.0
1,2,501,2020-04-02 12:00:00+00:00,Peel Public Health,40-49,Female,Close Contact,Recovered,43.761613,-79.813571,Ontario,ON,3553.0
2,3,502,2020-03-25 12:00:00+00:00,"Kingston, Frontenac and Lennox & Addington Pub...",30-39,Male,Close Contact,Recovered,44.676754,-76.884254,Ontario,ON,3541.0
3,4,503,2020-03-28 12:00:00+00:00,"Kingston, Frontenac and Lennox & Addington Pub...",<20,Female,Close Contact,Recovered,44.676754,-76.884254,Ontario,ON,3541.0
4,5,504,2020-03-30 12:00:00+00:00,Peel Public Health,50-59,Male,Close Contact,Recovered,43.761613,-79.813571,Ontario,ON,3553.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384876,1384877,1384283,2020-11-25 12:00:00+00:00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0
1384877,1384878,1384284,2020-11-25 12:00:00+00:00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0
1384878,1384879,1384285,2020-11-25 12:00:00+00:00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0
1384879,1384880,1384286,2020-11-25 12:00:00+00:00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0
1384880,1384881,1384287,2020-11-25 12:00:00+00:00,Nunavut,Not Reported,Not Reported,Not Reported,Not Reported,64.002666,-68.793294,Nunavut,NU,6201.0

In [7]:
# trying to find the null values

print(df['date_reported'].unique())
print(df['health_region'].unique())
print(df['age_group'].unique())
print(df['gender'].unique())
print(df['exposure'].unique())
print(df['case_status'].unique())
print(df['latitude'].unique())
print(df['longitude'].unique())
print(df['province'].unique())
print(df['province_abbr'].unique())
print(df['hr_uid'].unique())

<DatetimeArray>
['2020-03-23 12:00:00+00:00', '2020-04-02 12:00:00+00:00',
 '2020-03-25 12:00:00+00:00', '2020-03-28 12:00:00+00:00',
 '2020-03-30 12:00:00+00:00', '2020-03-31 12:00:00+00:00',
 '2020-03-26 12:00:00+00:00', '2020-03-19 12:00:00+00:00',
 '2020-03-13 12:00:00+00:00', '2020-04-01 12:00:00+00:00',
 ...
 '2021-05-26 12:00:00+00:00', '2021-05-25 12:00:00+00:00',
 '2021-05-31 12:00:00+00:00', '2021-05-30 12:00:00+00:00',
 '2021-06-01 12:00:00+00:00', '2021-06-02 12:00:00+00:00',
 '2020-01-10 12:00:00+00:00', '2020-01-29 12:00:00+00:00',
 '2020-02-06 12:00:00+00:00', '2020-02-18 12:00:00+00:00']
Length: 492, dtype: datetime64[ns, UTC]
['Peel Public Health'
 'Kingston, Frontenac and Lennox & Addington Public Health'
 'Halton Region Health Department' 'Grey Bruce Health Unit'
 'Wellington-Dufferin-Guelph Public Health' 'Toronto Public Health'
 'Lambton Public Health' 'Hamilton Public Health Services'
 'Niagara Region Public Health Department'
 'Region of Waterloo, Public Health' 'York Region Public Health Services'
 'Simcoe Muskoka District Health Unit' 'Durham Region Health Department'
 'Haliburton, Kawartha, Pine Ridge District Health Unit'
 'North Bay Parry Sound District Health Unit'
 'Thunder Bay District Health Unit' 'Porcupine Health Unit'
 'Ottawa Public Health' 'Renfrew County and District Health Unit'
 'Haldimand-Norfolk Health Unit' 'Eastern Ontario Health Unit'
 'Southwestern Public Health' 'Windsor-Essex County Health Unit'
 'Peterborough Public Health' 'Northwestern Health Unit'
 'Huron Perth District Health Unit'
 'Leeds, Grenville and Lanark District Health Unit'
 'Hastings and Prince Edward Counties Health Unit'
 'Middlesex-London Health Unit' 'Brant County Health Unit'
 'Chatham-Kent Health Unit' 'Sudbury & District Health Unit'
 'Algoma Public Health Unit' 'Timiskaming Health Unit' 'Fraser' 'Interior'
 'Vancouver Coastal' 'Vancouver Island' 'Out of Canada' 'Northern'
 'North Zone' 'Calgary Zone' 'Edmonton Zone' 'Central Zone' 'South Zone'
 'Unknown' 'Montréal' 'Outaouais' 'Saguenay' 'Bas-Saint-Laurent'
 'Capitale-Nationale' 'Mauricie' 'Estrie' 'Abitibi-Témiscamingue'
 'Côte-Nord' 'Chaudière-Appalaches' 'Laval' 'Laurentides' 'Montérégie'
 'Lanaudière' 'Nord-du-Québec' 'Terres-Cries-de-la-Baie-James'
 'Gaspésie-Îles-de-la-Madeleine' 'Nunavik' 'Not Reported' 'North' 'Regina'
 'Saskatoon' 'Far North' 'South' 'Central' 'Winnipeg' 'Prairie Mountain'
 'Southern Health' 'Interlake-Eastern' 'Zone 1 (Moncton area)'
 'Zone 3 (Fredericton area)' 'Zone 2 (Saint John area)'
 'Zone 4 (Edmundston area)' 'Zone 5 (Campbellton area)'
 'Zone 7 (Miramichi area)' 'Zone 6 (Bathurst area)' 'Prince Edward Island'
 'Labrador-Grenfell' 'Eastern' 'Western' 'Zone 4 - Central'
 'Zone 2 - Northern' 'Zone 3 - Eastern' 'Zone 1 - Western' 'Nunavut'
 'Yukon' 'NWT']
['20-29' '40-49' '30-39' '<20' '50-59' '60-69' '80+' '70-79'
 'Not Reported']
['Female' 'Male' 'Not Reported']
['Close Contact' 'Travel-Related' 'Not Reported' 'Outbreak' 'Community']
['Recovered' 'Deceased' 'Active' 'Not Reported']
[43.76161337 44.67675443 43.51209709 44.40827896 43.85364154 43.72584482
 42.88627513 43.25324313 43.045446   43.46283583 44.07497664 44.77775463
 44.03514967 44.67123794 46.08538431 52.39724709 51.85310322 45.17957839
 45.80633371 42.85444671 45.2730605  42.98933013 42.15642327 44.53667727
 51.49480889 43.60051407 44.86378244 44.63116714 42.99571559 43.12034629
 42.41925325 47.84651445 47.5967893  47.65305799 49.50523413 50.94052532
 50.47462422 49.65147918         nan 56.95569339 56.80619905 50.98841451
 53.5729703  52.61788724 50.37274621 45.54207183 46.52414992 49.82285889
 48.34670067 47.42268304 47.50931562 45.42784438 48.15192348 51.39349076
 46.49120069 45.60556423 46.64527029 45.44017549 46.63939563 52.41188185
 53.63569584 48.66801065 56.83999088 53.32998426 50.63133617 52.04156039
 57.20331147 49.84544655 51.64505687 49.89479969 50.83957619 49.37279651
 50.98985435 56.64275066 46.18410304 46.18354137 45.38359816 47.53218128
 47.73054813 47.07518291 47.51048834 46.25570748 53.35616551 47.25538719
 48.72196982 48.87216515 44.8887894  45.48607807 45.86146213 44.37858334
 64.00266592 60.7296549  62.43715302]
[ -79.81357092  -76.88425424  -79.89050809  -81.00861061  -80.37208498
  -79.38955775  -82.0983725   -79.95846342  -79.31367036  -80.53867571
  -79.42821218  -79.54577339  -78.88249823  -78.89722192  -79.68682329
  -88.53140488  -83.51577643  -75.79995195  -77.7769518   -80.17803538
  -74.95257873  -80.78600768  -82.77753253  -78.21233161  -92.55345583
  -81.28148453  -76.11805844  -77.55186057  -81.4569832   -80.29538881
  -82.12808769  -83.04716571  -84.41246863  -80.21524027 -122.00481437
 -119.73621864 -124.05791527 -125.73577379           nan -126.20605478
 -115.19080204 -114.28316845 -113.53968852 -111.77504425 -111.19035662
  -73.60566833  -76.4334882   -71.74196781  -68.02632618  -71.28309475
  -73.51539475  -71.82104394  -77.55357795  -66.82563971  -70.74772808
  -73.72452715  -74.97396932  -73.32559109  -73.9187307   -75.158846
  -78.65184785  -65.03054576  -71.7218231  -107.91444041 -103.8591378
 -105.57352986 -105.95865297 -106.26591575 -108.33024313  -97.14097552
 -100.3533201   -97.13785241  -97.4319736   -97.05823928  -64.86728428
  -66.87965578  -66.08097909  -67.90310926  -66.64221639  -65.97843763
  -65.44332674  -63.13273376  -61.18669598  -53.2401795   -55.70965182
  -58.08922419  -63.34858534  -63.47932498  -61.25023026  -65.16162305
  -68.79329438 -135.04725    -114.36255479]
['Ontario' 'British Columbia' 'Alberta' 'Quebec' 'Saskatchewan' 'Manitoba'
 'New Brunswick' 'PEI' 'NL' 'Nova Scotia' 'Nunavut' 'Yukon' 'Repatriated'
 'NWT']
['ON' 'BC' 'AB' 'QC' 'SK' 'MB' 'NB' 'PE' 'NL' 'NS' 'NU' 'YT' 'RC' 'NT']
[3553. 3541. 3536. 3533. 3566. 3595. 3542. 3537. 3546. 3565. 3570. 3560.
 3530. 3535. 3547. 3562. 3556. 3551. 3557. 3534. 3558. 3575. 3568. 3555.
 3549. 3539. 3543. 3538. 3544. 3527. 3540. 3561. 3526. 3563.  591.  592.
  595.  593.   nan  594. 4835. 4832. 4834. 4833. 4831. 2406. 2407. 2402.
 2401. 2403. 2404. 2405. 2408. 2409. 2412. 2413. 2415. 2416. 2414. 2410.
 2418. 2411. 2417.  472.  475.  474.  471.  476.  473. 4601. 4602. 4605.
 4603. 4604. 1301. 1303. 1302. 1304. 1305. 1307. 1306. 1100. 1014. 1011.
 1012. 1013. 1204. 1202. 1203. 1201. 6201. 6001. 6101.]

## Transform

In [8]:
# Cleaning the data types to coordinate it with what we want to do
# first we're going to remove all "Not Reported" , "Unknown" values since they're usefull and also focusing only on provinces no repatriated or territories

# discard rows only if all the conditions are met, you can use the all method with the conditions as a list comprehension.
df = df.loc[
    ~((df[['age_group', 'gender', 'exposure', 'case_status']] == 'Not Reported').all(axis=1))
]


#  Extracting only provinces like Alberta, Ontario, BC, Nova Scotia and Sasketchewan not territories and also to decrease our data since it's too large
provinces_to_keep = ['Alberta', 'British Columbia', 'Ontario', 'Quebec']
df = df[df['province'].isin(provinces_to_keep) & ~(df['province'].isin(['Repatriated', 'Nunavut', 'NWT', 'Yukon', 'Manitoba', 'New Brunswick', 'PEI', 'NL', 'Saskatchewan', 'Nova Scotia']))]

In [9]:
print(df['province'].unique())

['Ontario' 'British Columbia' 'Alberta' 'Quebec']

In [10]:
print(df['province'].value_counts())

Ontario             533761
Alberta             228128
British Columbia    144646
Quebec                  17
Name: province, dtype: int64

In [11]:
# Dropping the unrequired columns
df = df.drop(['province_abbr','hr_uid', 'row_id', 'latitude', 'longitude'], axis=1)

In [12]:
print(df.columns)
df

Index(['ObjectId', 'date_reported', 'health_region', 'age_group', 'gender',
       'exposure', 'case_status', 'province'],
      dtype='object')

,ObjectId,date_reported,health_region,age_group,gender,exposure,case_status,province
0,1,2020-03-23 12:00:00+00:00,Peel Public Health,20-29,Female,Close Contact,Recovered,Ontario
1,2,2020-04-02 12:00:00+00:00,Peel Public Health,40-49,Female,Close Contact,Recovered,Ontario
2,3,2020-03-25 12:00:00+00:00,"Kingston, Frontenac and Lennox & Addington Pub...",30-39,Male,Close Contact,Recovered,Ontario
3,4,2020-03-28 12:00:00+00:00,"Kingston, Frontenac and Lennox & Addington Pub...",<20,Female,Close Contact,Recovered,Ontario
4,5,2020-03-30 12:00:00+00:00,Peel Public Health,50-59,Male,Close Contact,Recovered,Ontario
...,...,...,...,...,...,...,...,...
907495,907496,2020-11-12 12:00:00+00:00,Calgary Zone,30-39,Male,Not Reported,Recovered,Alberta
907496,907497,2021-05-24 12:00:00+00:00,Calgary Zone,30-39,Male,Not Reported,Active,Alberta
907497,907498,2021-05-25 12:00:00+00:00,South Zone,70-79,Male,Not Reported,Active,Alberta
907498,907499,2020-12-16 12:00:00+00:00,North Zone,40-49,Male,Not Reported,Recovered,Alberta
907499,907500,2021-04-19 12:00:00+00:00,Calgary Zone,30-39,Male,Not Reported,Recovered,Alberta

In [13]:
print(df['province'])

0         Ontario
1         Ontario
2         Ontario
3         Ontario
4         Ontario
           ...
907495    Alberta
907496    Alberta
907497    Alberta
907498    Alberta
907499    Alberta
Name: province, Length: 906552, dtype: object

In [14]:
print(df['health_region'])

0                                        Peel Public Health
1                                        Peel Public Health
2         Kingston, Frontenac and Lennox & Addington Pub...
3         Kingston, Frontenac and Lennox & Addington Pub...
4                                        Peel Public Health
                                ...
907495                                         Calgary Zone
907496                                         Calgary Zone
907497                                           South Zone
907498                                           North Zone
907499                                         Calgary Zone
Name: health_region, Length: 906552, dtype: object

## Bucketizing

In [15]:
# Since our dataset is very large, we cannot merge it with the others as we ran out of memory. so bucketizing will help decrease the size

mask = (df['date_reported'].dt.day == 1)
print(df.loc[mask])

        ObjectId             date_reported                    health_region  \
11            12 2020-04-01 12:00:00+00:00               Peel Public Health
20            21 2020-04-01 12:00:00+00:00  Halton Region Health Department
27            28 2020-04-01 12:00:00+00:00               Peel Public Health
63            64 2020-04-01 12:00:00+00:00               Peel Public Health
139          140 2020-04-01 12:00:00+00:00               Peel Public Health
...          ...                       ...                              ...
907395    907396 2021-04-01 12:00:00+00:00                     Calgary Zone
907414    907415 2020-12-01 12:00:00+00:00                     Calgary Zone
907467    907468 2021-04-01 12:00:00+00:00                    Edmonton Zone
907477    907478 2021-04-01 12:00:00+00:00                    Edmonton Zone
907481    907482 2020-12-01 12:00:00+00:00                     Calgary Zone

       age_group  gender       exposure case_status province
11         60-69    Male   Not Reported   Recovered  Ontario
20           <20  Female  Close Contact   Recovered  Ontario
27         60-69  Female   Not Reported   Recovered  Ontario
63         50-59  Female       Outbreak   Recovered  Ontario
139        40-49    Male  Close Contact   Recovered  Ontario
...          ...     ...            ...         ...      ...
907395       <20    Male   Not Reported   Recovered  Alberta
907414     60-69  Female   Not Reported   Recovered  Alberta
907467     20-29    Male   Not Reported   Recovered  Alberta
907477     50-59    Male   Not Reported   Recovered  Alberta
907481       <20    Male   Not Reported   Recovered  Alberta

[31310 rows x 8 columns]

In [16]:
df = df.loc[mask]
df

,ObjectId,date_reported,health_region,age_group,gender,exposure,case_status,province
11,12,2020-04-01 12:00:00+00:00,Peel Public Health,60-69,Male,Not Reported,Recovered,Ontario
20,21,2020-04-01 12:00:00+00:00,Halton Region Health Department,<20,Female,Close Contact,Recovered,Ontario
27,28,2020-04-01 12:00:00+00:00,Peel Public Health,60-69,Female,Not Reported,Recovered,Ontario
63,64,2020-04-01 12:00:00+00:00,Peel Public Health,50-59,Female,Outbreak,Recovered,Ontario
139,140,2020-04-01 12:00:00+00:00,Peel Public Health,40-49,Male,Close Contact,Recovered,Ontario
...,...,...,...,...,...,...,...,...
907395,907396,2021-04-01 12:00:00+00:00,Calgary Zone,<20,Male,Not Reported,Recovered,Alberta
907414,907415,2020-12-01 12:00:00+00:00,Calgary Zone,60-69,Female,Not Reported,Recovered,Alberta
907467,907468,2021-04-01 12:00:00+00:00,Edmonton Zone,20-29,Male,Not Reported,Recovered,Alberta
907477,907478,2021-04-01 12:00:00+00:00,Edmonton Zone,50-59,Male,Not Reported,Recovered,Alberta
907481,907482,2020-12-01 12:00:00+00:00,Calgary Zone,<20,Male,Not Reported,Recovered,Alberta

In [17]:
#  Convert date_reported column to datetime format and remove time component
mask = df['date_reported'].notnull()
df.loc[mask, 'date_reported'] = pd.to_datetime(df.loc[mask, 'date_reported']).dt.date
df

/var/folders/hb/2fzhxvxx3y50bmbgjn72n4j40000gn/T/ipykernel_1654/4140657770.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[mask, 'date_reported'] = pd.to_datetime(df.loc[mask, 'date_reported']).dt.date

,ObjectId,date_reported,health_region,age_group,gender,exposure,case_status,province
11,12,2020-04-01,Peel Public Health,60-69,Male,Not Reported,Recovered,Ontario
20,21,2020-04-01,Halton Region Health Department,<20,Female,Close Contact,Recovered,Ontario
27,28,2020-04-01,Peel Public Health,60-69,Female,Not Reported,Recovered,Ontario
63,64,2020-04-01,Peel Public Health,50-59,Female,Outbreak,Recovered,Ontario
139,140,2020-04-01,Peel Public Health,40-49,Male,Close Contact,Recovered,Ontario
...,...,...,...,...,...,...,...,...
907395,907396,2021-04-01,Calgary Zone,<20,Male,Not Reported,Recovered,Alberta
907414,907415,2020-12-01,Calgary Zone,60-69,Female,Not Reported,Recovered,Alberta
907467,907468,2021-04-01,Edmonton Zone,20-29,Male,Not Reported,Recovered,Alberta
907477,907478,2021-04-01,Edmonton Zone,50-59,Male,Not Reported,Recovered,Alberta
907481,907482,2020-12-01,Calgary Zone,<20,Male,Not Reported,Recovered,Alberta

## Extracting COVID19_Data dataset

In [18]:
df_cases= pd.read_csv('COVID19_Data.csv')

In [19]:
df_cases

,PRUID,Name,NameFR,Date,Confirmed_Cases,Probable_Cases,Deaths,Total_Cases,Cases_Today,Percent_Today,ObjectId,Deaths_Today,Current_Day,Number_Recovered,Number_Tested,RecoveredToday,TestedToday,Precent_Recovered,Percent_Death,Percent_Active
0,35,Ontario,Ontario,2020/01/31 12:00:00+00,3,0,0,3,3,300.00,1,0,0,0,0,0,0,NaN,0.00,100.00
1,59,British Columbia,Colombie-Britannique,2020/01/31 12:00:00+00,1,0,0,1,1,100.00,2,0,0,0,0,0,0,NaN,0.00,100.00
2,1,Canada,Canada,2020/01/31 12:00:00+00,4,0,0,4,4,400.00,3,0,0,0,0,0,0,NaN,0.00,100.00
3,35,Ontario,Ontario,2020/02/08 12:00:00+00,3,0,0,3,0,0.00,4,0,0,0,0,0,0,NaN,0.00,100.00
4,59,British Columbia,Colombie-Britannique,2020/02/08 12:00:00+00,4,0,0,4,3,300.00,5,0,0,0,0,0,0,NaN,0.00,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3952,48,Alberta,Alberta,2020/11/25 12:00:00+00,50801,0,500,50801,1265,2.55,3953,8,1,36582,1426119,887,5871,72.01,0.98,27.01
3953,59,British Columbia,Colombie-Britannique,2020/11/25 12:00:00+00,29086,0,371,29086,738,2.60,3954,13,1,19814,761442,209,6871,68.12,1.28,30.60
3954,99,Repatriated travellers,Voyageurs rapatriés,2020/11/25 12:00:00+00,13,0,0,13,0,0.00,3955,0,1,13,76,0,0,100.00,0.00,0.00
3955,10,Newfoundland and Labrador,Terre-Neuve-et-Labrador,2020/11/25 12:00:00+00,324,0,4,324,1,0.31,3956,0,1,295,60199,0,458,91.05,1.23,7.72
3956,1,Canada,Canada,2020/11/25 12:00:00+00,347466,0,11710,347466,5022,1.47,3957,92,1,277232,11090768,3841,63476,79.79,3.37,16.84

In [20]:
#  Extracting only provinces not territories.
df_cases = df_cases[df_cases['Name'].isin(provinces_to_keep) & ~(df_cases['Name'].isin(['Repatriated', 'Nunavut', 'NWT', 'Yukon']))]

In [21]:
# modifying name of column
df_cases = df_cases.rename({'Name': 'province'},axis=1)

In [22]:
df_cases

,PRUID,province,NameFR,Date,Confirmed_Cases,Probable_Cases,Deaths,Total_Cases,Cases_Today,Percent_Today,ObjectId,Deaths_Today,Current_Day,Number_Recovered,Number_Tested,RecoveredToday,TestedToday,Precent_Recovered,Percent_Death,Percent_Active
0,35,Ontario,Ontario,2020/01/31 12:00:00+00,3,0,0,3,3,300.00,1,0,0,0,0,0,0,NaN,0.00,100.00
1,59,British Columbia,Colombie-Britannique,2020/01/31 12:00:00+00,1,0,0,1,1,100.00,2,0,0,0,0,0,0,NaN,0.00,100.00
3,35,Ontario,Ontario,2020/02/08 12:00:00+00,3,0,0,3,0,0.00,4,0,0,0,0,0,0,NaN,0.00,100.00
4,59,British Columbia,Colombie-Britannique,2020/02/08 12:00:00+00,4,0,0,4,3,300.00,5,0,0,0,0,0,0,NaN,0.00,100.00
6,35,Ontario,Ontario,2020/02/16 12:00:00+00,3,0,0,3,0,0.00,7,0,0,0,0,0,0,NaN,0.00,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,59,British Columbia,Colombie-Britannique,2020/11/24 12:00:00+00,28348,0,358,28348,941,3.43,3941,10,0,19605,754571,536,19142,69.16,1.26,29.58
3949,24,Quebec,Québec,2020/11/25 12:00:00+00,135430,0,6915,135430,1100,0.82,3950,28,1,117551,2136210,927,8288,86.80,5.11,8.10
3950,35,Ontario,Ontario,2020/11/25 12:00:00+00,107883,0,3554,107883,1373,1.29,3951,35,1,91550,5823970,1476,34896,84.86,3.29,11.85
3952,48,Alberta,Alberta,2020/11/25 12:00:00+00,50801,0,500,50801,1265,2.55,3953,8,1,36582,1426119,887,5871,72.01,0.98,27.01
3953,59,British Columbia,Colombie-Britannique,2020/11/25 12:00:00+00,29086,0,371,29086,738,2.60,3954,13,1,19814,761442,209,6871,68.12,1.28,30.60

## Transform

In [23]:
print(df_cases.dtypes)

PRUID                  int64
province              object
NameFR                object
Date                  object
Confirmed_Cases        int64
Probable_Cases         int64
Deaths                 int64
Total_Cases            int64
Cases_Today            int64
Percent_Today        float64
ObjectId               int64
Deaths_Today           int64
Current_Day            int64
Number_Recovered       int64
Number_Tested          int64
RecoveredToday         int64
TestedToday            int64
Precent_Recovered    float64
Percent_Death        float64
Percent_Active       float64
dtype: object

In [24]:
# Check for null values

df_cases['Deaths'].isnull().sum()
df_cases['Total_Cases'].isnull().sum()
df_cases['Confirmed_Cases'].isnull().sum()

0

In [25]:
#Select Desired Columns

df_cases[['province', 'Deaths','Total_Cases','Confirmed_Cases']]

              province  Deaths  Total_Cases  Confirmed_Cases
0              Ontario       0            3                3
1     British Columbia       0            1                1
3              Ontario       0            3                3
4     British Columbia       0            4                4
6              Ontario       0            3                3
...                ...     ...          ...              ...
3940  British Columbia     358        28348            28348
3949            Quebec    6915       135430           135430
3950           Ontario    3554       107883           107883
3952           Alberta     500        50801            50801
3953  British Columbia     371        29086            29086

[1081 rows x 4 columns]

## Integration step 1

In [26]:
#Select Desired Columns

df_cases = df_cases.drop(['PRUID','NameFR', 'Date', 'Probable_Cases', 'Cases_Today', 'Percent_Today', 'ObjectId', 'Deaths_Today', 'Current_Day', 'Number_Recovered', 'Number_Tested', 'RecoveredToday', 'TestedToday', 'Precent_Recovered', 'Percent_Death', 'Percent_Active'], axis=1)
# Load the DataFrames as Dask dataframes
df_dask = dd.from_pandas(df, npartitions=10000)
df_cases_dask = dd.from_pandas(df_cases, npartitions=10000)

# Merge the Dask dataframes
new_data_dask = dd.merge(df_dask, df_cases_dask, on='province', how='left')

# Compute the result
new_data = new_data_dask.compute()

In [27]:
new_data

,ObjectId,date_reported,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases
0,742030,2021-04-01,Edmonton Zone,<20,Female,Not Reported,Recovered,Alberta,19995,282,19995
1,742030,2021-04-01,Edmonton Zone,<20,Female,Not Reported,Recovered,Alberta,5355,89,5355
2,742030,2021-04-01,Edmonton Zone,<20,Female,Not Reported,Recovered,Alberta,11430,208,11430
3,742030,2021-04-01,Edmonton Zone,<20,Female,Not Reported,Recovered,Alberta,3095,61,3095
4,742030,2021-04-01,Edmonton Zone,<20,Female,Not Reported,Recovered,Alberta,18357,272,18357
...,...,...,...,...,...,...,...,...,...,...,...
5172787,215531,2020-12-01,Toronto Public Health,40-49,Male,Close Contact,Recovered,Ontario,26191,2123,26191
5172788,215531,2020-12-01,Toronto Public Health,40-49,Male,Close Contact,Recovered,Ontario,503,6,503
5172789,215531,2020-12-01,Toronto Public Health,40-49,Male,Close Contact,Recovered,Ontario,81693,3209,81693
5172790,215531,2020-12-01,Toronto Public Health,40-49,Male,Close Contact,Recovered,Ontario,35068,2672,35068
5172791,215531,2020-12-01,Toronto Public Health,40-49,Male,Close Contact,Recovered,Ontario,42686,2812,42686

In [28]:
# Checking for null values
new_data['Confirmed_Cases'].isnull().sum()
new_data['Deaths'].isnull().sum()
new_data['Total_Cases'].isnull().sum()

0

## Extracting vaccine_administration_timeseries_prov dataset

In [29]:
df_vaccine = pd.read_csv('vaccine_administration_timeseries_prov.csv')

In [30]:
df_vaccine

     province date_vaccine_administered  avaccine  cumulative_avaccine
0     Alberta                14-12-2020         0                    0
1     Alberta                15-12-2020        20                   20
2     Alberta                16-12-2020         0                   20
3     Alberta                17-12-2020       374                  394
4     Alberta                18-12-2020         0                  394
...       ...                       ...       ...                  ...
6573    Yukon                29-04-2022         0                91848
6574    Yukon                30-04-2022         0                91848
6575    Yukon                01-05-2022         0                91848
6576    Yukon                02-05-2022       115                91963
6577    Yukon                03-05-2022         0                91963

[6578 rows x 4 columns]

In [31]:
#  Extracting only provinces not territories.
df_vaccine = df_vaccine[df_vaccine['province'].isin(provinces_to_keep) & ~(df_vaccine['province'].isin(['Repatriated', 'Nunavut', 'NWT', 'Yukon']))]

In [32]:
df_vaccine

     province date_vaccine_administered  avaccine  cumulative_avaccine
0     Alberta                14-12-2020         0                    0
1     Alberta                15-12-2020        20                   20
2     Alberta                16-12-2020         0                   20
3     Alberta                17-12-2020       374                  394
4     Alberta                18-12-2020         0                  394
...       ...                       ...       ...                  ...
5561   Quebec                29-04-2022     35185             19786277
5562   Quebec                30-04-2022     31839             19818116
5563   Quebec                01-05-2022     24247             19842363
5564   Quebec                02-05-2022      8234             19850597
5565   Quebec                03-05-2022     13949             19864546

[1518 rows x 4 columns]

In [33]:
print(df_vaccine.dtypes)

province                     object
date_vaccine_administered    object
avaccine                      int64
cumulative_avaccine           int64
dtype: object

In [34]:
df_vaccine

     province date_vaccine_administered  avaccine  cumulative_avaccine
0     Alberta                14-12-2020         0                    0
1     Alberta                15-12-2020        20                   20
2     Alberta                16-12-2020         0                   20
3     Alberta                17-12-2020       374                  394
4     Alberta                18-12-2020         0                  394
...       ...                       ...       ...                  ...
5561   Quebec                29-04-2022     35185             19786277
5562   Quebec                30-04-2022     31839             19818116
5563   Quebec                01-05-2022     24247             19842363
5564   Quebec                02-05-2022      8234             19850597
5565   Quebec                03-05-2022     13949             19864546

[1518 rows x 4 columns]

## Transform

In [35]:
# modifyin the name
df_vaccine = df_vaccine.rename({'avaccine': 'vaccine_administered'},axis=1)
df_vaccine = df_vaccine.rename({'date_vaccine_administered': 'date'},axis=1)

In [36]:
df_vaccine

     province        date  vaccine_administered  cumulative_avaccine
0     Alberta  14-12-2020                     0                    0
1     Alberta  15-12-2020                    20                   20
2     Alberta  16-12-2020                     0                   20
3     Alberta  17-12-2020                   374                  394
4     Alberta  18-12-2020                     0                  394
...       ...         ...                   ...                  ...
5561   Quebec  29-04-2022                 35185             19786277
5562   Quebec  30-04-2022                 31839             19818116
5563   Quebec  01-05-2022                 24247             19842363
5564   Quebec  02-05-2022                  8234             19850597
5565   Quebec  03-05-2022                 13949             19864546

[1518 rows x 4 columns]

In [37]:
# Convert date column to datetime format
df_vaccine["date"] = pd.to_datetime(df_vaccine["date"], format="%d-%m-%Y")

In [38]:
df_vaccine

     province       date  vaccine_administered  cumulative_avaccine
0     Alberta 2020-12-14                     0                    0
1     Alberta 2020-12-15                    20                   20
2     Alberta 2020-12-16                     0                   20
3     Alberta 2020-12-17                   374                  394
4     Alberta 2020-12-18                     0                  394
...       ...        ...                   ...                  ...
5561   Quebec 2022-04-29                 35185             19786277
5562   Quebec 2022-04-30                 31839             19818116
5563   Quebec 2022-05-01                 24247             19842363
5564   Quebec 2022-05-02                  8234             19850597
5565   Quebec 2022-05-03                 13949             19864546

[1518 rows x 4 columns]

In [39]:
# Checking for null values
df_vaccine['vaccine_administered'].isnull().sum()

0

## Reducing size of new_data by grouping

In [40]:
# Group the data by ObjectId and aggregate other columns to decrease number of rows
grouped = new_data.groupby("ObjectId").agg({"date_reported": "min", "health_region": "first", "age_group": "first", "gender": "first", "exposure": "first", "case_status": "first", "province": "first", "Confirmed_Cases": "sum", "Deaths": "sum", "Total_Cases": "sum"})

# Reset the index to make the "ObjectId" column a regular column
grouped = grouped.reset_index()

# Save the grouped data to a new CSV file
grouped.to_csv("grouped_dataset.csv", index=False)

print(grouped)

       ObjectId date_reported                    health_region age_group  \
0            12    2020-04-01               Peel Public Health     60-69
1            21    2020-04-01  Halton Region Health Department       <20
2            28    2020-04-01               Peel Public Health     60-69
3            64    2020-04-01               Peel Public Health     50-59
4           140    2020-04-01               Peel Public Health     40-49
...         ...           ...                              ...       ...
31305    907396    2021-04-01                     Calgary Zone       <20
31306    907415    2020-12-01                     Calgary Zone     60-69
31307    907468    2021-04-01                    Edmonton Zone     20-29
31308    907478    2021-04-01                    Edmonton Zone     50-59
31309    907482    2020-12-01                     Calgary Zone       <20

       gender       exposure case_status province  Confirmed_Cases  Deaths  \
0        Male   Not Reported   Recovered  Ontario          9984217  578125
1      Female  Close Contact   Recovered  Ontario          9984217  578125
2      Female   Not Reported   Recovered  Ontario          9984217  578125
3      Female       Outbreak   Recovered  Ontario          9984217  578125
4        Male  Close Contact   Recovered  Ontario          9984217  578125
...       ...            ...         ...      ...              ...     ...
31305    Male   Not Reported   Recovered  Alberta          3297810   48609
31306  Female   Not Reported   Recovered  Alberta          3297810   48609
31307    Male   Not Reported   Recovered  Alberta          3297810   48609
31308    Male   Not Reported   Recovered  Alberta          3297810   48609
31309    Male   Not Reported   Recovered  Alberta          3297810   48609

       Total_Cases
0          9984217
1          9984217
2          9984217
3          9984217
4          9984217
...            ...
31305      3297810
31306      3297810
31307      3297810
31308      3297810
31309      3297810

[31310 rows x 11 columns]

In [41]:
# modifying name of column
grouped = grouped.rename({'date_reported': 'date'},axis=1)
grouped

,ObjectId,date,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases
0,12,2020-04-01,Peel Public Health,60-69,Male,Not Reported,Recovered,Ontario,9984217,578125,9984217
1,21,2020-04-01,Halton Region Health Department,<20,Female,Close Contact,Recovered,Ontario,9984217,578125,9984217
2,28,2020-04-01,Peel Public Health,60-69,Female,Not Reported,Recovered,Ontario,9984217,578125,9984217
3,64,2020-04-01,Peel Public Health,50-59,Female,Outbreak,Recovered,Ontario,9984217,578125,9984217
4,140,2020-04-01,Peel Public Health,40-49,Male,Close Contact,Recovered,Ontario,9984217,578125,9984217
...,...,...,...,...,...,...,...,...,...,...,...
31305,907396,2021-04-01,Calgary Zone,<20,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810
31306,907415,2020-12-01,Calgary Zone,60-69,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810
31307,907468,2021-04-01,Edmonton Zone,20-29,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810
31308,907478,2021-04-01,Edmonton Zone,50-59,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810
31309,907482,2020-12-01,Calgary Zone,<20,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810

In [42]:
grouped.dtypes

ObjectId            int64
date               object
health_region      object
age_group          object
gender             object
exposure           object
case_status        object
province           object
Confirmed_Cases     int64
Deaths              int64
Total_Cases         int64
dtype: object

In [43]:
# Convert 'date' column to datetime format in df_vaccine
grouped['date'] = pd.to_datetime(grouped['date'])

In [44]:
grouped.dtypes

ObjectId                    int64
date               datetime64[ns]
health_region              object
age_group                  object
gender                     object
exposure                   object
case_status                object
province                   object
Confirmed_Cases             int64
Deaths                      int64
Total_Cases                 int64
dtype: object

## Integration step 2

In [45]:
# Select Desired Columns

df_vaccine = df_vaccine.drop(['cumulative_avaccine'], axis=1)
# Load the DataFrames as Dask dataframes
grouped_dask = dd.from_pandas(grouped, npartitions=10000)
df_vaccine_dask = dd.from_pandas(df_vaccine, npartitions=10000)

# Merge the Dask dataframes
data_dask = dd.merge(grouped_dask, df_vaccine_dask, on=['province', 'date'], how='left')

# Compute the result
data = data_dask.compute()

In [46]:
data

,ObjectId,date,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases,vaccine_administered
0,636804,2021-04-01,Vancouver Island,50-59,Male,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
1,636805,2021-04-01,Vancouver Island,50-59,Female,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
2,636806,2021-04-01,Vancouver Island,60-69,Female,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
3,634918,2021-04-01,Fraser,60-69,Male,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
4,634919,2021-04-01,Fraser,30-39,Male,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
590,589733,2021-01-01,Northern,60-69,Male,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
591,589734,2021-01-01,Northern,30-39,Male,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
592,585389,2021-01-01,Fraser,50-59,Female,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
593,585390,2021-01-01,Fraser,20-29,Male,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN
594,585391,2021-01-01,Fraser,70-79,Female,Not Reported,Not Reported,British Columbia,1565115,45576,1565115,NaN

In [47]:
print(data['vaccine_administered'].unique())

[        nan 2.25600e+03 1.74240e+04 7.83000e+03 1.80130e+04 3.14200e+03
 9.30000e+01 2.97380e+04 8.40600e+04 3.49530e+04 5.37300e+03 1.07700e+05
 1.20195e+05]

In [48]:
# Checking for null values
data['Confirmed_Cases'].isnull().sum()
data['Deaths'].isnull().sum()
data['Total_Cases'].isnull().sum()
data['vaccine_administered'].isnull().sum()

13247

In [49]:
# Dropping null values
data1 = data[['ObjectId', 'date', 'health_region', 'age_group', 'gender', 'exposure', 'case_status', 'province', 'Confirmed_Cases', 'Deaths', 'Total_Cases', 'vaccine_administered']]
data1 = data1.dropna()

In [50]:
data1

,ObjectId,date,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases,vaccine_administered
0,262036,2021-02-01,Halton Region Health Department,50-59,Male,Outbreak,Recovered,Ontario,9984217,578125,9984217,2256.0
1,262052,2021-02-01,Toronto Public Health,70-79,Male,Not Reported,Deceased,Ontario,9984217,578125,9984217,2256.0
2,262058,2021-02-01,Huron Perth District Health Unit,60-69,Female,Close Contact,Recovered,Ontario,9984217,578125,9984217,2256.0
3,259312,2021-02-01,Peel Public Health,30-39,Male,Close Contact,Recovered,Ontario,9984217,578125,9984217,2256.0
4,259320,2021-02-01,Toronto Public Health,20-29,Female,Not Reported,Recovered,Ontario,9984217,578125,9984217,2256.0
...,...,...,...,...,...,...,...,...,...,...,...,...
339,492461,2021-06-01,Ottawa Public Health,30-39,Male,Not Reported,Active,Ontario,9984217,578125,9984217,120195.0
340,492463,2021-06-01,Peel Public Health,30-39,Male,Not Reported,Active,Ontario,9984217,578125,9984217,120195.0
341,491947,2021-06-01,Toronto Public Health,20-29,Male,Not Reported,Active,Ontario,9984217,578125,9984217,120195.0
342,491948,2021-06-01,Toronto Public Health,30-39,Female,Not Reported,Active,Ontario,9984217,578125,9984217,120195.0
343,491950,2021-06-01,Toronto Public Health,40-49,Female,Not Reported,Active,Ontario,9984217,578125,9984217,120195.0

In [51]:
data1.dtypes

ObjectId                         int64
date                    datetime64[ns]
health_region                   object
age_group                       object
gender                          object
exposure                        object
case_status                     object
province                        object
Confirmed_Cases                  int64
Deaths                           int64
Total_Cases                      int64
vaccine_administered           float64
dtype: object

## Extracting testing_timeseries_prov dataset

In [52]:
df_test= pd.read_csv('testing_timeseries_prov.csv')

In [53]:
df_test

      province date_testing  testing  cumulative_testing testing_info
0      Alberta   15-03-2020     7108                7108          NaN
1      Alberta   16-03-2020     3490               10598          NaN
2      Alberta   17-03-2020     1757               12355          NaN
3      Alberta   18-03-2020     2211               14566          NaN
4      Alberta   19-03-2020     2447               17013          NaN
...        ...          ...      ...                 ...          ...
10915    Yukon   29-04-2022       43               32164          NaN
10916    Yukon   30-04-2022        0               32164          NaN
10917    Yukon   01-05-2022        0               32164          NaN
10918    Yukon   02-05-2022       64               32228          NaN
10919    Yukon   03-05-2022       17               32245          NaN

[10920 rows x 5 columns]

# Transform

In [54]:
# modifying the name
df_test = df_test.rename({'date_testing': 'date'},axis=1)
df_test

      province        date  testing  cumulative_testing testing_info
0      Alberta  15-03-2020     7108                7108          NaN
1      Alberta  16-03-2020     3490               10598          NaN
2      Alberta  17-03-2020     1757               12355          NaN
3      Alberta  18-03-2020     2211               14566          NaN
4      Alberta  19-03-2020     2447               17013          NaN
...        ...         ...      ...                 ...          ...
10915    Yukon  29-04-2022       43               32164          NaN
10916    Yukon  30-04-2022        0               32164          NaN
10917    Yukon  01-05-2022        0               32164          NaN
10918    Yukon  02-05-2022       64               32228          NaN
10919    Yukon  03-05-2022       17               32245          NaN

[10920 rows x 5 columns]

In [55]:
# Checking for null values
df_test['testing'].isnull().sum()

0

In [56]:
#Select Desired Columns
df_test = df_test.drop(['cumulative_testing'], axis=1)
df_test = df_test.drop(['testing_info'], axis=1)
df_test

      province        date  testing
0      Alberta  15-03-2020     7108
1      Alberta  16-03-2020     3490
2      Alberta  17-03-2020     1757
3      Alberta  18-03-2020     2211
4      Alberta  19-03-2020     2447
...        ...         ...      ...
10915    Yukon  29-04-2022       43
10916    Yukon  30-04-2022        0
10917    Yukon  01-05-2022        0
10918    Yukon  02-05-2022       64
10919    Yukon  03-05-2022       17

[10920 rows x 3 columns]

In [57]:
#  Extracting only provinces not territories.
df_test = df_test[df_test['province'].isin(provinces_to_keep) & ~(df_test['province'].isin(['Repatriated', 'Nunavut', 'NWT', 'Yukon']))]

In [58]:
df_test.dtypes

province    object
date        object
testing      int64
dtype: object

In [59]:
# Convert 'date' column to datetime format in df_test
df_test['date'] = pd.to_datetime(df_test['date'], format="%d-%m-%Y")

/var/folders/hb/2fzhxvxx3y50bmbgjn72n4j40000gn/T/ipykernel_1654/2288075882.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['date'] = pd.to_datetime(df_test['date'], format="%d-%m-%Y")

In [60]:
df_test

     province       date  testing
0     Alberta 2020-03-15     7108
1     Alberta 2020-03-16     3490
2     Alberta 2020-03-17     1757
3     Alberta 2020-03-18     2211
4     Alberta 2020-03-19     2447
...       ...        ...      ...
8575   Quebec 2022-04-29     3268
8576   Quebec 2022-04-30        0
8577   Quebec 2022-05-01        0
8578   Quebec 2022-05-02     6028
8579   Quebec 2022-05-03     1942

[2340 rows x 3 columns]

## Integration step 3

In [61]:
# Load the DataFrames as Dask dataframes
data1_dask = dd.from_pandas(data1, npartitions=10000)
df_test_dask = dd.from_pandas(df_test, npartitions=10000)

# Merge the Dask dataframes
dataset_final_dask = dd.merge(data1_dask, df_test_dask, on=['province', 'date'], how='left')

# Compute the result
dataset_final = dataset_final_dask.compute()

In [62]:
dataset_final

,ObjectId,date,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases,vaccine_administered,testing
0,758203,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
1,739255,2021-06-01,Edmonton Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
2,872479,2021-06-01,Edmonton Zone,<20,Male,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
3,744206,2021-06-01,Calgary Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
4,788745,2021-06-01,North Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,818294,2021-02-01,Edmonton Zone,<20,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
276,848215,2021-02-01,South Zone,60-69,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
277,841867,2021-02-01,South Zone,<20,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
278,839979,2021-02-01,Edmonton Zone,60-69,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
279,860499,2021-02-01,Edmonton Zone,30-39,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318

In [63]:
print(dataset_final['testing'].unique())

[  4120  62290  20262  20504  30359   5952  16347  13636  35015 134428
  46803   7318]

In [64]:
# Checking for null values
dataset_final['Confirmed_Cases'].isnull().sum()
dataset_final['Deaths'].isnull().sum()
dataset_final['Total_Cases'].isnull().sum()
dataset_final['vaccine_administered'].isnull().sum()
dataset_final['testing'].isnull().sum()

0

In [65]:
# Dropping null values
dataset_final = dataset_final[['ObjectId', 'date', 'health_region', 'age_group', 'gender', 'exposure', 'case_status', 'province', 'Confirmed_Cases', 'Deaths', 'Total_Cases', 'vaccine_administered', 'testing']]
dataset_final = dataset_final.dropna()

In [66]:
dataset_final

,ObjectId,date,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases,vaccine_administered,testing
0,758203,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
1,739255,2021-06-01,Edmonton Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
2,872479,2021-06-01,Edmonton Zone,<20,Male,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
3,744206,2021-06-01,Calgary Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
4,788745,2021-06-01,North Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,818294,2021-02-01,Edmonton Zone,<20,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
276,848215,2021-02-01,South Zone,60-69,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
277,841867,2021-02-01,South Zone,<20,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
278,839979,2021-02-01,Edmonton Zone,60-69,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
279,860499,2021-02-01,Edmonton Zone,30-39,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318

## Checking if merge was successful

In [67]:
dataset_final.isnull().sum()

ObjectId                0
date                    0
health_region           0
age_group               0
gender                  0
exposure                0
case_status             0
province                0
Confirmed_Cases         0
Deaths                  0
Total_Cases             0
vaccine_administered    0
testing                 0
dtype: int64

In [68]:
dataset_final = dataset_final.drop(['ObjectId'], axis=1)

In [69]:
dataset_final

,date,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases,vaccine_administered,testing
0,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
1,2021-06-01,Edmonton Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
2,2021-06-01,Edmonton Zone,<20,Male,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
3,2021-06-01,Calgary Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
4,2021-06-01,North Zone,<20,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120
...,...,...,...,...,...,...,...,...,...,...,...,...
275,2021-02-01,Edmonton Zone,<20,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
276,2021-02-01,South Zone,60-69,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
277,2021-02-01,South Zone,<20,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
278,2021-02-01,Edmonton Zone,60-69,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318
279,2021-02-01,Edmonton Zone,30-39,Male,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318

## Generating measures/facts

In [70]:
# create a groupby object by age group, gender, and health region
grouped_data = dataset_final.groupby(['age_group', 'gender', 'health_region'])

# Calculate the positivity rate and vaccination rate for each group
positivity_rates = grouped_data.apply(lambda x: x.loc[x['case_status']=='Active', 'Confirmed_Cases'].sum() / x['testing'].sum())
vaccination_rates = grouped_data.apply(lambda x: x['vaccine_administered'].sum() / total_pop_dataset * 100)

# Merge the results back into the original dataframe
dataset_final = dataset_final.merge(positivity_rates.rename('Test_positivity_rate'), on=['age_group', 'gender', 'health_region'])
dataset_final = dataset_final.merge(vaccination_rates.rename('vaccination_rate'), on=['age_group', 'gender', 'health_region'])

# calculate Total_fatalities and Total_recorded_cases for each group
grouped_totals = grouped_data.agg({'Confirmed_Cases': 'sum', 'Deaths': 'sum'})

# calculate Total_fatalities and Total_recorded_cases for the entire dataset
dataset_final['Total_fatalities'] = grouped_totals['Deaths'].sum()
dataset_final['Total_recorded_cases'] = grouped_totals['Confirmed_Cases'].sum()

## Generating Surrogate Keys

In [71]:
dataset_final['Surrogate Keys'] = range(1,len(dataset_final)+1)

In [72]:
dataset_final

,date,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases,vaccine_administered,testing,Test_positivity_rate,vaccination_rate,Total_fatalities,Total_recorded_cases,Surrogate Keys
0,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981,1
1,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981,2
2,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981,3
3,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981,4
4,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18058,2021-05-01,North Bay Parry Sound District Health Unit,50-59,Male,Outbreak,Recovered,Ontario,9984217,578125,9984217,107700.0,46803,0.00000,1.123107e-05,7969832155,149119390981,18059
18059,2021-05-01,"Region of Waterloo, Public Health",80+,Male,Close Contact,Deceased,Ontario,9984217,578125,9984217,107700.0,46803,0.00000,1.123107e-05,7969832155,149119390981,18060
18060,2021-05-01,Algoma Public Health Unit,50-59,Not Reported,Close Contact,Recovered,Ontario,9984217,578125,9984217,107700.0,46803,0.00000,1.123107e-05,7969832155,149119390981,18061
18061,2021-02-01,South Zone,Not Reported,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318,0.00000,1.939628e-08,7969832155,149119390981,18062
18062,2021-02-01,South Zone,Not Reported,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318,0.00000,1.939628e-08,7969832155,149119390981,18063

In [73]:
dataset = dataset_final.reindex(columns=['Surrogate Keys'] + list([c for c in dataset_final.columns if c!= 'Surrogate Keys']))

In [74]:
dataset

,Surrogate Keys,date,health_region,age_group,gender,exposure,case_status,province,Confirmed_Cases,Deaths,Total_Cases,vaccine_administered,testing,Test_positivity_rate,vaccination_rate,Total_fatalities,Total_recorded_cases
0,1,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981
1,2,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981
2,3,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981
3,4,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981
4,5,2021-06-01,Calgary Zone,40-49,Female,Not Reported,Active,Alberta,3297810,48609,3297810,29738.0,4120,19.87214,3.636342e-04,7969832155,149119390981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18058,18059,2021-05-01,North Bay Parry Sound District Health Unit,50-59,Male,Outbreak,Recovered,Ontario,9984217,578125,9984217,107700.0,46803,0.00000,1.123107e-05,7969832155,149119390981
18059,18060,2021-05-01,"Region of Waterloo, Public Health",80+,Male,Close Contact,Deceased,Ontario,9984217,578125,9984217,107700.0,46803,0.00000,1.123107e-05,7969832155,149119390981
18060,18061,2021-05-01,Algoma Public Health Unit,50-59,Not Reported,Close Contact,Recovered,Ontario,9984217,578125,9984217,107700.0,46803,0.00000,1.123107e-05,7969832155,149119390981
18061,18062,2021-02-01,South Zone,Not Reported,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318,0.00000,1.939628e-08,7969832155,149119390981
18062,18063,2021-02-01,South Zone,Not Reported,Female,Not Reported,Recovered,Alberta,3297810,48609,3297810,93.0,7318,0.00000,1.939628e-08,7969832155,149119390981

## Loading

In [75]:
# load the dataset as a csv file
dataset.to_csv('Data Staging Dataset.csv')